*{
    background: #5897b0;
background: linear-gradient(90deg, rgba(88, 151, 176, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);

}


.title{
    color: white;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    text-align: center;
    margin-top: 24rem;
    margin-right: 20px;
}

.button{
    color: white;
    margin-left: 62rem;
    border-radius: 20px;
    padding: 15px;

}

